@import "variables";

body{
	background: $bgbody;
	display: flex;
	flex-direction: column;
	font-family: $defaultfont;
}

h1,h2,h3,h4,h5,h6{
	font-family: $hfont;
	color: $txtcolor;
}

header{
	color: $txtcolor;
	background: $bgheadfoot;
	font-size: 1.2em;
	#top{
		h1{
			padding: 30px 0;
			font-size: 3em;
		}
		padding-top: 30px;
	}
	#navigation{
		list-style: none;
		display: flex;
		justify-content: space-around;
		li{
			a{
				color: $txtcolor;
				font-weight: bold;

				&:hover{
					color: lighten($txtcolor, 20%);
					text-decoration: none;
					transition: 0.5s;
				}
			}
		}
	}

	//SEARCH BAR
	.stylish-input-group .input-group-addon{
		background: white;
	}
	.stylish-input-group .form-control{
		border-right:0; 
		box-shadow:0 0 0; 
		border-color:#ccc;
	}
	.stylish-input-group button{
		border:0;
		background:transparent;
	}

	#imaginary_container > div > input{
		width: 30%;
	}
	//SEARCH BAR

	#bottom{
		#login{
			padding-top: 30px;
			padding-bottom: 10px;

			input{
				height: 30px;
			}
		}
	}
}

main{
	background: white;
	border-radius: $bradius;
	margin-top: 30px;
	margin-bottom: 10px;	
	section{
		margin-top: 10px;
		.links{
			border-radius: $bradius;
			margin-bottom: 5px;
			height: 110px;
			a{
				vertical-align: middle;
				color: white;
				display: block;
				font-family: $hfont;
				font-size: 1.1em;
				i{
					padding: 20px;
				}
			}
		}
		#link1{
			background: #FDA336;
			opacity: 0.7;
			&:hover{
				background: darken(#FDA336, 15%);
			}
		}
		#link2{
			background: #36D9FD;
			opacity: 0.7;
			&:hover{
				background: darken(#36D9FD, 15%);
			}
		}
		#link3{
			background: #2AA1BB;
			opacity: 0.7;
			&:hover{
				background: darken(#2AA1BB, 15%);
			}
		}
		#link4{
			background: #FDB21B;
			opacity: 0.7;
			&:hover{
				background: darken(#FDB21B, 15%);
			}
		}
		.mainArticle{
			margin: 5px 0;
			opacity: 0.7;
			img{
				padding: 3px;
				max-width: 100%;
			}
			h3{
				text-align: center;
			}
			p{
				padding: 3px;
			}
			&:hover{
				opacity: 1;
				box-shadow: 0 0 5px #bbb;
			}

		}
	}
}

footer{
	background: $bgheadfoot;
	#info{
		padding: 50px;
		ul{
			padding-top: 10px;
			list-style: none;
			li{
				font-weight: bold;
				img{
					width: 55px;
					padding: 3px;
				}
			}
		}
	}
}

//NYHEDS SIDE
#createpost{
	margin: 10px;
	padding: 10px;
	background: $bgforms;
	border: 1px solid lightgrey;
	border-radius: $bradius;
}

.postname{
	color: $txtsender;
	font-style: italic;
	font-weight: bold;
}

.sponsor{
	border: 1px solid lightgrey;
	border-radius: $bradius;
	margin: 5px 0;
	padding: 5px;
}

.articleid{
	display: none;
}
//NYHEDS SIDE

//KONTAKT SIDE
#contactinfo{
	background: $bgforms;
	border: 1px solid lightgrey;
	border-radius: $bradius;
	margin: 10px 0;
}
#map{
	width: 100%;
	height: 400px;
	background: grey;
	margin: 20px 0;
}

//KONTAKT SIDE

#submit{
	background: $bgheadfoot;
}

.noGutter{
	padding-left: 0;
	padding-right: 0;
}

.activelink{
	text-decoration: underline;
}

.border-right{
	border-right: 1px solid black;
}

hr{
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}


@media screen and (max-width: 768px){
	#imaginary_container > div > input{
		width: 40%;
	}
	
	.xs-noborder{
		border: none;
	}
}