body {
  background: #EFEAE2;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  color: #041B87; }

header {
  color: #041B87;
  background: #FFC63C;
  font-size: 1.2em; }
  header #top {
    padding-top: 30px; }
    header #top h1 {
      padding: 30px 0;
      font-size: 3em; }
  header #navigation {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    header #navigation li a {
      color: #041B87;
      font-weight: bold; }
      header #navigation li a:hover {
        color: #072fea;
        text-decoration: none;
        transition: 0.5s; }
  header .stylish-input-group .input-group-addon {
    background: white; }
  header .stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc; }
  header .stylish-input-group button {
    border: 0;
    background: transparent; }
  header #imaginary_container > div > input {
    width: 30%; }
  header #bottom #login {
    padding-top: 30px;
    padding-bottom: 10px; }
    header #bottom #login input {
      height: 30px; }

main {
  background: white;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px; }
  main section {
    margin-top: 10px; }
    main section .links {
      border-radius: 5px;
      margin-bottom: 5px;
      height: 110px; }
      main section .links a {
        vertical-align: middle;
        color: white;
        display: block;
        font-family: "Libre Baskerville", serif;
        font-size: 1.1em; }
        main section .links a i {
          padding: 20px; }
    main section #link1 {
      background: #FDA336;
      opacity: 0.7; }
      main section #link1:hover {
        background: #e47e02; }
    main section #link2 {
      background: #36D9FD;
      opacity: 0.7; }
      main section #link2:hover {
        background: #02bbe4; }
    main section #link3 {
      background: #2AA1BB;
      opacity: 0.7; }
      main section #link3:hover {
        background: #1c6b7d; }
    main section #link4 {
      background: #FDB21B;
      opacity: 0.7; }
      main section #link4:hover {
        background: #ca8702; }
    main section .mainArticle {
      margin: 5px 0;
      opacity: 0.7; }
      main section .mainArticle img {
        padding: 3px;
        max-width: 100%; }
      main section .mainArticle h3 {
        text-align: center; }
      main section .mainArticle p {
        padding: 3px; }
      main section .mainArticle:hover {
        opacity: 1;
        box-shadow: 0 0 5px #bbb; }

footer {
  background: #FFC63C; }
  footer #info {
    padding: 50px; }
    footer #info ul {
      padding-top: 10px;
      list-style: none; }
      footer #info ul li {
        font-weight: bold; }
        footer #info ul li img {
          width: 55px;
          padding: 3px; }

#createpost {
  margin: 10px;
  padding: 10px;
  background: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px; }

.postname {
  color: #bbb;
  font-style: italic;
  font-weight: bold; }

.sponsor {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px; }

.articleid {
  display: none; }

#contactinfo {
  background: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0; }

#map {
  width: 100%;
  height: 400px;
  background: grey;
  margin: 20px 0; }

#submit {
  background: #FFC63C; }

.noGutter {
  padding-left: 0;
  padding-right: 0; }

.activelink {
  text-decoration: underline; }

.border-right {
  border-right: 1px solid black; }

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999; }

@media screen and (max-width: 768px) {
  #imaginary_container > div > input {
    width: 40%; }

  .xs-noborder {
    border: none; } }

/*# sourceMappingURL=styles.css.map */
